<<<<<<< Updated upstream
/*variaveis*/

:root{
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-terciary-color: #000000;

    --button-primary-color: #8F0101;
    --button-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;

=======
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

/*variaveis*/

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-terciary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
>>>>>>> Stashed changes
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

<<<<<<< Updated upstream
h1{
    color:var(--button-primary-color)
}
=======
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--title-weight);
  color: var(--primary-color);
}
>>>>>>> Stashed changes
